name: Publish

on:
  push:
    branches:
    - main
    paths:
    - apps/cli/**
    - packages/core/**
    - packages/schema/**
    - .github/workflows/publish.yaml

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Setup
      uses: ./.github/actions/setup

    - name: Configure npmAuthToken
      run: yarn config set npmAuthToken ${NPM_TOKEN}
      env:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

    - name: Create Release Pull Request or Publish to npm
      id: changesets
      uses: changesets/action@v1
      with:
        publish: yarn release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
